<!DOCTYPE HTML>
<html>
	<head>
		<title>OOgle Search</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static/css/style.css" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	</head>
	<body>
        <main>
            <section class="py-3 text-center container-sm">
                <div class="row py-lg-5">
                    <div class="col-lg-6 col-md-8 mx-auto">
                        <h1 class="fw-light" style="font-weight: bold;">
                            <strong>
                                <span class="title blue">O</span>
                                <span class="title red">O</span>
                                <span class="title yellow">g</span>
                                <span class="title blue">l</span>
                                <span class="title green">e &nbsp;&nbsp;&nbsp;</span>
                                <span class="title blue">S</span>
                                <span class="title red">E</span>
                                <span class="title yellow">A</span>
                                <span class="title blue">R</span>
                                <span class="title green">C</span>
                                <span class="title green">H</span>
                            </strong>
                        </h1>
                        <form action="/" method="GET" name="search" role="search">
                            <div class="input-group input-group-lg">
                                <span class="input-group-text" id="inputGroup-sizing-lg">&#128269;</span>
                                <input name="query" id="query" value="{{query}}" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
                                <button type="submit" class="btn btn-outline-secondary" type="button">Search</button>
                            </div>
                            {% if results|length > 0 %}
                                <p>{{total}} results ({{response_time}} seconds)</p>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </section>
            <section class="text-center container-sm">
                    {%if query%}
                    <div class="feature-grid">
                        {%for result in results%}
                        <div class="feature">
                            <div class="content">
                                {%if result.is_remote%}
                                    <h5><a href="{{result.link}}">{{result.title|safe|truncate_title}}</a></h5>
                                {%else%}
                                    <h5><a href="/static?t={{result.title}}">[PDF]: {{result.title|safe|truncate_title}}</a></h5>
                                {%endif%}
                                <p>{{result.content|safe}}...</p>
                            </div>
                        </div>
                        {%endfor%}
                    </div>
                    {%endif%}
            </section>
            <section class="text-center container-sm">
            <br><br>
            </section>
        </main>
    </body>
</html>